<!--The content below is only a placeholder and can be replaced.-->
<nav>
  <div logo>
      <img src="/assets/img/angular.png"/>
  </div>
  <ul routerLink="/">
    Home
    <!-- <li></li> -->
  </ul>
  <ul routerLink="/app/demo1">
    Demo 1
  </ul>
  <ul routerLink="/app/demo2" *ngIf="loginSingleton.token | ensureField: 'Roles': [] | includes: 'Administrator'">
    Demo 2
  </ul>
  <ul routerLink="/app/input" *ngIf="loginSingleton.token | ensureField: 'Roles': [] | includes: 'User'">
    Input
  </ul>
  <ul routerLink="/app/animals">
    Animals
  </ul>
</nav>
<main>
  <header>
    <h2>Title of This Project</h2>
    <div spacer></div>
    <a (click)="logout()">Logout</a>
  </header>
  <div body>
      <router-outlet></router-outlet>
  </div>
  <footer>Data Science Angular Demo 2019</footer>
</main>

